# Results
results/

# hg38 Reference
*.fa
*.fai
*.gtf.gz

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Snakemake
.snakemake/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
LICENSE.md
